body {
  text-align: center;
  line-height: 2;
}
.a12{
  background-color: #EEEEEE;
  font-size: 30px;
}
.f1{
  color: #7952B3;
  font-size: 40px;
  margin-left: 20px;
}
.skills{
  margin-left: 5%;
  /* width: 40%; */
  text-align: left;
}
.projects{
  margin-left: 30%;
  /* width: 40%; */
  text-align: left;
}
.courses{
  margin-left: 50%;
  /* width: 40%; */
  text-align: left;
}
.f3{
  font-size: 30px;
  text-align: center;
  font-family: 'Yomogi', cursive;
  color: #A19882;
}
hr{
  border: 4px solid  #DFCFBE;
  border-radius: 10px;
}
/* .h1{
  font-size: 30px;
  color: #FF8303;
  margin-left: 5%;
} */
h1{
  font-family: 'Otomanopee One', sans-serif;
  text-transform:uppercase;
  font-size:72px;
  padding:25px;
}
li{
  font-family: 'Otomanopee One', sans-serif;
  color: #A19882;
  font-size: 20px;
}
