body{
  background-color: #F2EDD7;
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
}
.title{
  position: relative;
  text-align: center;
  right: 10%;
  top: 40%;
  font-size: 90px;
  margin: auto;
  color:#F5E6CA;
}
.img1{
  position:relative;
  float: left;
  height: 17rem;
  left: 5%;
  width: 20rem;
}
.para1{
  font-family: 'Yomogi', cursive;
  line-height: 2;
  margin-top: 10%;
  text-shadow: 1px 1px black;
  font-size: 30px;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  color: #DDDDDD;;
}
.head1{
  font-size: 250%;
  color: #A0937D;
  font-weight: bold;
  text-shadow:3px 3px #F5E6CA;
  font-family: 'Otomanopee One', sans-serif;
  text-decoration: underline;
}
.ul1{
  margin-left: 20px;
  font-size: 200%;
  font-family:monospace;
  color: #DDDDDD;
}
.a12{
  background-color: #EEEEEE;
  font-size: 30px;
}
.ul2{
  font-size: 200%;
  color: #DDDDDD;
}
.img2{
  margin:5%;
  margin-right: 6%;
  float: left;
  height: 14rem;
  width: 20rem;
}
.para2{
  text-shadow: 1px 1px black;
  width:100%;
  margin: 5px 3% 5px 0;
}
.p12{
  display: inline-block;
  line-height: 2;
  width: 25rem;
}
.last{
  text-align: center;
  font-size: 40px;
  font-family: fantasy;
  background-color: #A0937D;
  color:#E6DDC6;
  padding: 12px;
}
